{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" /></head>
  <div class="wrapper">
    <div class="box content">

        <div class = "herotext">
        <h1> Welcome to the Calculator Program </h1>
            <p> Created using Python and Flask </p>
            <button class = "buttonclass" onclick="document.location='/calculator1'"> Start Here </button>
        </div>

    </div>
    <div class="box footer">
        <h1 style = "margin: 20px; ">Calculator Program written with Python and Flask</h1>

        <p style = "margin: 20px; ">This is a calculator program written in Python and Flask. Use the Navbar above or click "Start Here" to discover the calculator's functionality. You can add, subtract, multiply and divide. All results are appended into a table accessible in the Results page.</p>

    </div>
</div>
<br>
<br>
<!--<a href="/good/1.0/2.0">One Plus Two Good</a><br><a href="/bad/1/2">One Plus Two Bad</a>-->
{% endblock %}
